
      <form id="addAWord" class="text-center w-50 p-3">
        <fieldset>
          <legend>Add a Word!</legend>
            <label for="wordName" class="h5">Name</label>
            <input class="addWordText form-control form-control-lg" name="word[name]" type="text" placeholder="Word Name" >
            <label for="definition" class="h5" >Definition</label>
            <textarea class="addWordText form-control form-control-lg" name="word[definition]"  type="text" placeholder="Word Definition"></textarea>
            <label for="partOfSpeech" class="h5">Part of Speech</label>
            <input class="addWordText form-control form-control-lg" name="word[parts_of_speech]" type="text" placeholder="Part of Speech">
            <label for="sampleSentence" class="h5">Sample Sentence</label>
            <textarea class="addWordText form-control form-control-lg" name="word[sample_sentence]" type="text" placeholder="Word in a sentence"></textarea>
            <input class='addWordButton' type= Submit value="Add Word">
        </fieldset>
      </form>
      <div class='Get-Words text-center'>