
      <form id="addAWord" class="text-center w-50 p-3">
        <img src="https://static1.squarespace.com/static/5297a013e4b0d8d4512a090d/5297cd21e4b0f580c1ff61ff/56197157e4b049990b739f9d/1446134532964/?format=1500w" alt="Princess Bride Quote: 'You keep using that word. I do not think you know what it means'">
        <fieldset>
          <legend>Add a Word!</legend>
            <label for="wordName" class="subText">Name</label>
            <input class="addWordText form-control form-control-lg" name="word[name]" type="text" placeholder="Word Name" >
            <label for="definition" class="subText" >Definition</label>
            <textarea class="addWordText form-control form-control-lg" name="word[definition]"  type="text" placeholder="Word Definition"></textarea>
            <label for="partOfSpeech" class="subText">Part of Speech</label>
            <input class="addWordText form-control form-control-lg" name="word[parts_of_speech]" type="text" placeholder="Part of Speech">
            <label for="sampleSentence" class="subText">Sample Sentence</label>
            <textarea class="addWordText form-control form-control-lg" name="word[sample_sentence]" type="text" placeholder="Word in a sentence"></textarea>
            <input class='addWordButton form-control-lg' type= Submit value="Add Word">
        </fieldset>
      </form>
      <div class='Get-Words text-center'>